<form class="container">
  <h1>Write your favourite quote</h1>
  <div class="form-group">
    <label for="exampleFormControlInput1">Author</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput2">Name</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
</form>
